<div class="flex h-screen w-screen">
  <div class="auth-bg hidden flex-1 items-center justify-center bg-primary-900 bg-cover lg:flex">
    <div class="max-w-2xl space-y-4 p-8 text-center text-white">
      <div class="center-custom">
        <img src="assets/images/log-coin.png" class="bg-cover bg-center" alt="login-coin" />
      </div>

      <h1 class="text-4xl font-bold">"Secure Your Finances, Anytime, Anywhere"</h1>
      <p class="text-sm text-gray-300">
        Welcome to Tokena, your trusted digital wallet. Safely manage your funds, track your
        transactions, and enjoy seamless financial control—all in one place. Sign in to start
        <span class="cursor-pointer text-sm text-[#f18b46]">your secure journey with us</span>
      </p>
    </div>
  </div>
  <div class="flex flex-1 items-center justify-center bg-white">
    <div class="max-w-md overflow-y-auto px-4 sm:w-[500px]">
      <!-- logo -->
      <div class="flex items-center justify-center">
        <a class="rounded p-2">
          <svg-icon src="assets/images/Logo.svg"> </svg-icon>
        </a>
      </div>
      <router-outlet />
    </div>
  </div>
</div>
