<form class="my-10 space-y-6" [formGroup]="SignForm">
  <div class="text-center">
    <h2 class="mb-1 text-3xl font-semibold text-gray-700">
      Forgot Password <span class="text-primary-900">!</span>
    </h2>
    <p class="text-md text-gray-600">Enter your email to reset your password.</p>
  </div>

  <div class="space-y-3 text-left" [@fallIn]="state">
    <div class="relative">
      <input
        type="text"
        id="email"
        [ngClass]="{
          'border-red-500': !SignForm.get('mail')?.valid && SignForm.get('mail')?.touched,
        }"
        class="peer block"
        formControlName="mail"
        class="peer block"
        placeholder=" "
      />
      <label
        for="email"
        class="absolute top-2 left-1 z-10 origin-[0] -translate-y-4 scale-95 transform bg-white px-2 text-sm text-gray-500 duration-300 peer-placeholder-shown:top-1/2 peer-placeholder-shown:-translate-y-1/2 peer-placeholder-shown:scale-100 peer-focus:top-2 peer-focus:-translate-y-4 peer-focus:scale-95 peer-focus:px-2 peer-focus:text-primary-500"
        [ngClass]="{
          'text-red-500': !SignForm.get('mail')?.valid && SignForm.get('mail')?.touched,
        }"
      >
        Email address
      </label>
    </div>
    <em
      class="text-sm text-red-500"
      *ngIf="!SignForm?.get('mail')?.valid && SignForm?.get('mail')?.touched"
      >Email invalid
    </em>
  </div>

  <!-- Submit Button -->
  <div class="flex justify-between space-x-2" [@fallIn]="state">
    <div class="w-full" routerLink="/dashbord">
      <button
        type="button"
        [disabled]="!SignForm.valid"
        class="group relative mb-10 flex w-full justify-center rounded-md border border-transparent bg-primary-900 py-2 px-4 text-sm font-medium text-white focus:outline-none focus:ring-2 focus:ring-blue-500 focus:ring-offset-2 hover:bg-blue-500"
      >
        Submit
      </button>
    </div>
    <div class="w-full" routerLink="/auth/sign-in">
      <button
        type="button"
        class="group relative mb-10 flex w-full justify-center rounded-md border border-transparent bg-gray-700 py-2 px-4 text-sm font-medium text-white focus:outline-none focus:ring-2 focus:ring-gray-300 focus:ring-offset-2 hover:bg-gray-500"
      >
        Cancel
      </button>
    </div>
  </div>
</form>
